* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}
#wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    border-radius: 20px;
    padding: 40px;
    width: 60%;
    max-width: 500px;
}
#wrapper-image{
    width: 250px;
}
#image{
    width: 100%;;
}
#header{
    display: flex;
    padding: 20px;
    font-size: 30px;
}
#number{
    margin-right: 15px;
}
#name{
    text-transform: capitalize;
}
#button:hover{
    background-color: #ff7a22;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(-2px);
    background-color: rgb(250, 137, 62);
}
#button:active{
    background-color: #ff7a22;
    border-radius: 5px;
    color: white;
    padding: 10px 30px;
    cursor: pointer;
    transition: all 0.2s ease;
    transform: translate(-2px);
    background-color: rgb(255, 106, 6);
}